# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
absl-py=1.4.0=pypi_0
adagio=0.2.4=pypi_0
aiofiles=22.1.0=pypi_0
aiohttp=3.8.5=pypi_0
aiosignal=1.3.1=pypi_0
aiosqlite=0.19.0=pypi_0
ansi2html=1.8.0=pypi_0
antlr4-python3-runtime=4.11.1=pypi_0
anyio=3.6.2=pypi_0
appdirs=1.4.4=pypi_0
appnope=0.1.3=pypi_0
arch=6.1.0=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
array-record=0.2.0=pypi_0
arrow=1.2.3=pypi_0
asttokens=2.2.1=pypi_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
babel=2.12.1=pypi_0
backcall=0.2.0=pypi_0
backtesting=0.3.3=pypi_0
beautifulsoup4=4.12.2=pypi_0
blas=1.0=openblas
bleach=6.0.0=pypi_0
bokeh=3.1.1=pypi_0
bottleneck=1.3.5=py311ha0d4635_0
bzip2=1.0.8=h620ffc9_4
ca-certificates=2023.01.10=hca03da5_0
cachetools=5.3.1=pypi_0
certifi=2023.5.7=pypi_0
cffi=1.15.1=pypi_0
charset-normalizer=3.1.0=pypi_0
click=8.1.3=pypi_0
cloudpickle=2.2.1=pypi_0
comm=0.1.3=pypi_0
contourpy=1.0.7=pypi_0
cryptography=40.0.2=pypi_0
cycler=0.11.0=pypi_0
cython=3.0.0=pypi_0
darts=0.25.0=pypi_0
dash=2.12.1=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
debugpy=1.6.7=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
dm-tree=0.1.8=pypi_0
empyrical=0.5.5=pypi_0
et-xmlfile=1.1.0=pypi_0
etils=1.3.0=pypi_0
executing=1.2.0=pypi_0
fastjsonschema=2.16.3=pypi_0
filelock=3.12.2=pypi_0
flask=2.2.5=pypi_0
flatbuffers=23.5.26=pypi_0
fonttools=4.39.3=pypi_0
fqdn=1.5.1=pypi_0
frozendict=2.3.8=pypi_0
frozenlist=1.4.0=pypi_0
fs=2.4.16=pypi_0
fsspec=2023.6.0=pypi_0
fugue=0.8.6=pypi_0
fugue-sql-antlr=0.1.6=pypi_0
gast=0.4.0=pypi_0
google-auth=2.19.1=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.59.1=pypi_0
grpcio=1.54.2=pypi_0
h5py=3.8.0=pypi_0
holidays=0.30=pypi_0
html5lib=1.1=pypi_0
idna=3.4=pypi_0
importlib-resources=5.12.0=pypi_0
ipykernel=6.23.0=pypi_0
ipython=8.13.2=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.0.6=pypi_0
isoduration=20.11.0=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.18.2=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.2.0=pypi_0
json5=0.9.11=pypi_0
jsonpointer=2.3=pypi_0
jsonschema=4.17.3=pypi_0
jupyter-client=8.2.0=pypi_0
jupyter-core=5.3.0=pypi_0
jupyter-events=0.6.3=pypi_0
jupyter-server=2.5.0=pypi_0
jupyter-server-fileid=0.9.0=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyter-server-ydoc=0.8.0=pypi_0
jupyter-ydoc=0.2.4=pypi_0
jupyterlab=3.6.3=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.22.1=pypi_0
jupyterlab-widgets=3.0.7=pypi_0
keras=2.13.1rc0=pypi_0
kiwisolver=1.4.4=pypi_0
libclang=16.0.0=pypi_0
libcxx=14.0.6=h848a8c0_0
libffi=3.4.2=hca03da5_6
libgfortran=5.0.0=11_3_0_hca03da5_28
libgfortran5=11.3.0=h009349e_28
libopenblas=0.3.21=h269037a_0
lightning-utilities=0.9.0=pypi_0
llvm-openmp=14.0.6=hc6e5704_0
llvmlite=0.40.1=pypi_0
lxml=4.9.2=pypi_0
markdown=3.4.3=pypi_0
markupsafe=2.1.2=pypi_0
matplotlib=3.7.1=pypi_0
matplotlib-inline=0.1.6=pypi_0
mistune=2.0.5=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.4=pypi_0
multitasking=0.0.11=pypi_0
nbclassic=1.0.0=pypi_0
nbclient=0.7.4=pypi_0
nbconvert=7.4.0=pypi_0
nbformat=5.8.0=pypi_0
ncurses=6.4=h313beb8_0
nest-asyncio=1.5.6=pypi_0
networkx=3.1=pypi_0
nfoursid=1.0.1=pypi_0
notebook=6.5.4=pypi_0
notebook-shim=0.2.3=pypi_0
numba=0.57.1=pypi_0
numexpr=2.8.4=py311hdeb1df9_0
numpy=1.24.3=py311hb57d4eb_0
numpy-base=1.24.3=py311h1d85a46_0
oauthlib=3.2.2=pypi_0
openpyxl=3.1.2=pypi_0
openssl=1.1.1t=h1a28f6b_0
opt-einsum=3.3.0=pypi_0
orjson=3.9.5=pypi_0
packaging=23.0=py311hca03da5_0
pandas=1.5.3=py311h6956b77_0
pandas-datareader=0.10.0=pypi_0
pandas-ta=0.3.14b0=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
patsy=0.5.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.5.0=pypi_0
pip=23.0.1=py311hca03da5_0
platformdirs=3.5.0=pypi_0
plotly=5.14.1=pypi_0
plotly-resampler=0.9.1=pypi_0
pmdarima=2.0.3=pypi_0
prometheus-client=0.16.0=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.38=pypi_0
protobuf=4.23.2=pypi_0
psutil=5.9.5=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyarrow=12.0.1=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycparser=2.21=pypi_0
pygments=2.15.1=pypi_0
pynndescent=0.5.10=pypi_0
pyod=1.1.0=pypi_0
pyparsing=3.0.9=pypi_0
pyqt6=6.5.0=pypi_0
pyqt6-qt6=6.5.0=pypi_0
pyqt6-sip=13.5.1=pypi_0
pyqtgraph=0.13.3=pypi_0
pyrsistent=0.19.3=pypi_0
python=3.11.3=hc0d8a6c_0
python-dateutil=2.8.2=pyhd3eb1b0_0
python-json-logger=2.0.7=pypi_0
pytorch-lightning=2.0.7=pypi_0
pytz=2022.7=py311hca03da5_0
pyyaml=6.0=pypi_0
pyzmq=25.0.2=pypi_0
qpd=0.4.4=pypi_0
readline=8.2=h1a28f6b_0
requests=2.30.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
retrying=1.3.4=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rsa=4.9=pypi_0
scikit-learn=1.2.2=pypi_0
scipy=1.10.1=pypi_0
seaborn=0.12.2=pypi_0
send2trash=1.8.2=pypi_0
setuptools=66.0.0=py311hca03da5_0
shap=0.42.1=pypi_0
shiboken6=6.5.0=pypi_0
six=1.16.0=pyhd3eb1b0_1
slicer=0.0.7=pypi_0
sniffio=1.3.0=pypi_0
soupsieve=2.4.1=pypi_0
sqlglot=17.14.2=pypi_0
sqlite=3.41.2=h80987f9_0
stack-data=0.6.2=pypi_0
statsforecast=1.5.0=pypi_0
statsmodels=0.14.0=pypi_0
sympy=1.12=pypi_0
tbats=1.1.3=pypi_0
tenacity=8.2.2=pypi_0
tensorboard=2.13.0=pypi_0
tensorboard-data-server=0.7.0=pypi_0
tensorboardx=2.6.2=pypi_0
tensorflow=2.13.0rc1=pypi_0
tensorflow-datasets=4.9.2=pypi_0
tensorflow-estimator=2.13.0rc0=pypi_0
tensorflow-macos=2.13.0rc1=pypi_0
tensorflow-metadata=1.13.1=pypi_0
tensorflow-probability=0.20.1=pypi_0
termcolor=2.3.0=pypi_0
terminado=0.17.1=pypi_0
threadpoolctl=3.1.0=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=hb8d0fd4_0
toml=0.10.2=pypi_0
torch=2.1.0.dev20230819=pypi_0
torchaudio=2.1.0.dev20230819=pypi_0
torchmetrics=1.0.3=pypi_0
torchvision=0.16.0.dev20230819=pypi_0
tornado=6.3.1=pypi_0
tqdm=4.65.0=pypi_0
trace-updater=0.0.9.1=pypi_0
traitlets=5.9.0=pypi_0
triad=0.9.1=pypi_0
tsdownsample=0.1.2=pypi_0
typing-extensions=4.6.3=pypi_0
tzdata=2023c=h04d1e81_0
umap-learn=0.5.3=pypi_0
uri-template=1.2.0=pypi_0
urllib3=1.26.16=pypi_0
wcwidth=0.2.6=pypi_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.5.1=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.38.4=py311hca03da5_0
widgetsnbextension=4.0.7=pypi_0
wrapt=1.15.0=pypi_0
xarray=2023.7.0=pypi_0
xgboost=1.7.6=pypi_0
xyzservices=2023.2.0=pypi_0
xz=5.2.10=h80987f9_1
y-py=0.5.9=pypi_0
yahoofinancials=1.15=pypi_0
yarl=1.9.2=pypi_0
yfinance=0.2.18=pypi_0
ypy-websocket=0.8.2=pypi_0
zipp=3.15.0=pypi_0
zlib=1.2.13=h5a0b063_0
